<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <body>

<!-- ###TEMPLATE_LIST### begin -->
        <div class="listarea">
          <!-- ###LISTVIEW### begin -->
          <div class="###VIEW###view ###VIEW###view-###MODE###">
            <!-- ###LISTHEAD### begin --><!-- ###LISTHEADITEM### begin -->###ITEM###<!-- ###LISTHEADITEM### end --><!-- ###LISTHEAD### end -->
            <!-- ###LISTBODY### begin --><!-- ###LISTBODYITEM### begin -->
              Dieses Template ist nicht f&uuml;r die Listenansicht vorgesehen!
            <!-- ###LISTBODYITEM### end --><!-- ###LISTBODY### end -->
            <div class="backgroundBottom">&nbsp;</div>
          </div>
          <!-- ###LISTVIEW### end -->
        </div> <!-- /listarea -->
<!-- ###TEMPLATE_LIST### end -->



<!-- ###TEMPLATE_SINGLE### begin -->
        <!-- ###SINGLEVIEW### begin -->
<!-- ###AREA_FOR_AJAX_LIST_01### begin -->
        <div class="###VIEW###view ###VIEW###view-###MODE###"><!-- ###SINGLEBODY### begin --><!-- ###SINGLEBODYROW### begin -->
          <div class="socialbookmarks">
            ###SOCIALMEDIA_BOOKMARKS###
          </div>
          ###TX_ORG_HEADQUARTERS.TITLE###
          ###TX_ORG_HEADQUARTERS.IMAGE###
          ###TX_ORG_HEADQUARTERS.MAIL_POSTCODE###

          ###TX_ORG_HEADQUARTERS.POSTBOX_POSTBOX###
          ###TX_ORG_HEADQUARTERS.TELEPHONE###
          ###TX_ORG_HEADQUARTERS.PUBTRANS_STOP###
          ###MY_PHRASE_DEPARTMENTS###
          <ul>
            ###TX_ORG_DEPARTMENT.TITLE###
          </ul>
          ###TX_ORG_HEADQUARTERS.MAIL_EMBEDDEDCODE###
          ###TX_ORG_HEADQUARTERS.DOCUMENTS###
<!-- ###AREA_FOR_AJAX_LIST_01### end -->
<!-- ###AREA_FOR_AJAX_LIST_02### begin -->
          <div class="backgroundBottom">&nbsp;</div><!-- ###SINGLEBODYROW### end --><!-- ###SINGLEBODY### end -->
        </div>
<!-- ###AREA_FOR_AJAX_LIST_02### end -->
        <!-- ###SINGLEVIEW### end -->
<!-- ###TEMPLATE_SINGLE### end -->



<!-- ###TEMPLATE_SELECTBOX_VALID### begin -->
<!-- ###TEMPLATE_SELECTBOX_VALID### end -->

<!-- ###TEMPLATE_SELECTBOX_VALID_BAK### begin -->
            <div class="sortbox">
              <form ###CLASS### action="###URL###" method="POST">
                <fieldset>
                  <legend>###LEGEND###</legend>
                  ###HIDDEN###
                  ###SELECTBOX###
                  <input class="button" type="submit" value="###BUTTON###" />
                </fieldset>
              </form>
            </div>
<!-- ###TEMPLATE_SELECTBOX_VALID_BAK### end -->



  </body>
</html>