<!-- ###WTCART_MINICART### begin -->
<div class="wtcart_minicart">
    <div>###MINICART_COUNT### ###WTCART_LL_COUNT_PRODUCTS_IN_CART###</div>
    <div>###MINICART_GROSS###</div>
</div>
<!-- ###WTCART_MINICART### end -->


<!-- ###WTCART_MINICART_EMPTY### begin -->
    <div class="wtcart_minicart_empty">###WTCART_LL_MINICART_EMPTY###</div>
<!-- ###WTCART_MINICART_EMPTY### end -->